// Definir variables de color
$color-background: #f8f8f8;
$color-header-bg: #333;
$color-header-text: #fff;
$color-footer-bg: #0a0a0a;
$color-footer-text: #ffffff;

// Estilos generales
body {
    font-family: Arial, sans-serif;
    background-color: $color-background;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: $color-header-bg;
    color: $color-header-text;
    padding: 10px;
    text-align: center;
}

.logo img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.name-company {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: $color-header-text;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    color: $color-header-text;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    color: #f00;
}

.footer {
    background-color: $color-footer-bg;
    color: $color-footer-text;
    padding: 10px 0;
    text-align: center;
    position: fixed; /* Fijar el footer */
    bottom: 0; /* Colocar en la parte inferior */
    left: 0;
    width: 100%;
    z-index: 999;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.contenedor-columnas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.card-img-top {
    width: 100%;
    max-width: 413px; /* Ancho máximo deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción de aspecto */
    margin-bottom: 50px;
}

.card-img-top {
    width: 100%;
    max-width: 413px; /* Ancho máximo deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción de aspecto */
    border-radius: 10px;
    margin-bottom: 10px;
}