body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;   margin: 0;
  padding: 0;
  text-align: center;
}
<<<<<<< HEAD
body header {
  background-color: #333;
  color: #fff;
=======

header {
  background-color: #333; 
  color: #fff; 
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
  padding: 10px;
  text-align: center;
}
body header .logo img {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}
body header .name-company {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
body header .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
body header .menu li {
  display: inline;
  margin-right: 20px;
}
body header .menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
<<<<<<< HEAD
body header .menu li a:hover {
  color: #f00;
}
body .titulo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}
body .tatuador-info {
=======

.menu li a:hover {
  color: #f00; 
}


.tatuador-info {
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
  max-width: 800px;
  margin: 0 auto; 
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
body .gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
body .gallery img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
body .descripcion {
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
<<<<<<< HEAD
body footer {
=======


footer {
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
  background-color: #333;
  color: #fff;
  padding: 0px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
body footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body footer .social-icons a {
  margin-right: 10px;
}
body footer .social-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
<<<<<<< HEAD
body .tatuador {
=======


.tatuador {
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
  display: flex;
  flex-direction: column;
  align-items: center;
}
<<<<<<< HEAD
body .tatuador img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}
body .descripcion {
=======

.tatuador img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.descripcion {
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
  font-size: 16px;
  text-align: center; 
  margin-top: 10px;
}
<<<<<<< HEAD
body .social-icons a img {
=======

.social-icons a img {
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
  width: 30px;
  height: 30px;
  margin: 0 5px;
}
<<<<<<< HEAD
body .columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .columna .tatuador {
  margin-bottom: 20px;
}
body .contenedor-columnas {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
body .columna-izquierda,
body .columna-derecha {
  flex: 1;
}/*# sourceMappingURL=estilos.css.map */
=======
>>>>>>> b7bed257540b6c97d5514147c78f22cecadfcb27
